.disclaimer-premium {
    position: fixed;
    top: -1;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 100%;
    background: linear-gradient(90deg, rgba(221,7,186,1) 34%, rgba(0,212,255,1) 100%);
}

.disclaimer-premium-content {
    display: flex;
    justify-content: space-between;
}

.disclaimer-premium-content-text {
    font-family: var(--font-dm-sans);
    color: #fff;
    font-size: 14px;
}

.disclaimer-premium-content-text-title {
    font-weight: 600;
    font-variant-caps: all-petite-caps;
    margin-top: 5px;
    padding: 0 20px 5px 20px;
}

.disclaimer-premium-content-text-subtitle {
    margin-top: 5px;
    padding: 0 20px 5px 20px;
}

.disclaimer-premium-content-button {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    text-transform: 10px;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 200px;
    height: fit-content;
    cursor: pointer;
}

.disclaimer-premium-content-button:hover {
    transition-duration: 500ms;
    background-color: #000000;
    color: #fff;
}